* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input input {
    padding: 4px;
    width: 250px;
}

.register-button {
    margin-top: 8px;
    padding: 4px;
    width: 100px;
}

.alert {
    display: none;
    color: DarkRed;
    background-color: LightCoral;
    border: 1px solid DarkRed;
    font-weight: 600;
    padding: 4px;
    width: 100%;
    text-align: center;
}